name: Build Windows Only

on:
  push:
  workflow_dispatch: # Allows you to click "Run" manually

jobs:
  build-windows-msvc:
    name: Build Windows MSVC
    runs-on: windows-2022
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x86_64
            buildtype: release

    steps:
      - name: Set Environment Variables
        shell: bash
        run: |
          echo "prefix_path_backslash=c:\strawberry_msvc_${{matrix.arch}}_${{matrix.buildtype}}" >> $GITHUB_ENV
          echo "prefix_path_forwardslash=c:/strawberry_msvc_${{matrix.arch}}_${{matrix.buildtype}}" >> $GITHUB_ENV
          echo "prefix_path_unix=/c/strawberry_msvc_${{matrix.arch}}_${{matrix.buildtype}}" >> $GITHUB_ENV
          echo "cmake_buildtype=Release" >> $GITHUB_ENV
          echo "sdk_version=10.0.22621.0" >> $GITHUB_ENV

      - name: Install rsync
        shell: cmd
        run: choco install --no-progress rsync

      - name: Cleanup PATH
        uses: egor-tensin/cleanup-path@v4
        with:
          dirs: ${{env.prefix_path_backslash}}\bin;C:\Windows;C:\Windows\system32;C:\Program Files\Git\bin;C:\Program Files\CMake\bin;C:\Program Files\GitHub CLI;C:\ProgramData\Chocolatey\bin;C:\Program Files (x86)\NSIS

      - name: Create downloads directory
        shell: cmd
        run: mkdir downloads

      - name: Download Dependencies
        shell: cmd
        working-directory: downloads
        run: curl -f -O -L https://github.com/strawberrymusicplayer/strawberry-msvc-dependencies/releases/latest/download/strawberry-msvc-${{matrix.arch}}-${{matrix.buildtype}}.tar.xz

      - name: Extract Dependencies
        shell: bash
        working-directory: downloads
        run: tar -C /c -xf strawberry-msvc-${{matrix.arch}}-${{matrix.buildtype}}.tar.xz

      - name: Update PATH
        run: echo "${{env.prefix_path_backslash}}\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Copy Tooling Binaries
        shell: bash
        run: |
          cp /c/mingw64/bin/{strip.exe,strings.exe,objdump.exe} ${{env.prefix_path_unix}}/bin
          cp /c/strawberry/c/bin/patch.exe ${{env.prefix_path_unix}}/bin

      - name: Clean Conflicting Files
        shell: bash
        run: rm -rf /c/{msys64,mingw32,mingw64,clangarm64} /c/strawberry/c "/c/program files/OpenSSL"

      - name: Clean Conflicting ICU
        shell: bash
        run: find "/c/program files (x86)/windows kits/" -type f \( -iname 'icu*.lib' -o -iname 'icu*.h' \) -print -delete

      # --- NSIS PLUGINS SETUP ---
      - name: Download NSIS Plugins
        shell: cmd
        working-directory: downloads
        run: |
          curl -f -O -L https://nsis.sourceforge.io/mediawiki/images/d/d3/LockedList.zip
          curl -f -O -L https://nsis.sourceforge.io/mediawiki/images/4/47/Registry.zip
          curl -f -O -L https://nsis.sourceforge.io/mediawiki/images/c/c9/Inetc.zip
          7z x LockedList.zip -oLockedList
          7z x Registry.zip -oRegistry
          7z x Inetc.zip -oInetc

      - name: Install NSIS Plugins
        shell: cmd
        working-directory: downloads
        run: |
          copy "LockedList\Plugins\LockedList64.dll" "C:\Program Files (x86)\NSIS\Plugins\"
          copy "LockedList\Plugins\x86-unicode\LockedList.dll" "C:\Program Files (x86)\NSIS\Plugins\x86-unicode\"
          copy "Registry\Desktop\Plugin\registry.dll" "C:\Program Files (x86)\NSIS\Plugins\"
          copy "Registry\Desktop\Plugin\registry.dll" "C:\Program Files (x86)\NSIS\Plugins\x86-unicode\"
          copy "Inetc\Plugins\x86-unicode\INetC.dll" "C:\Program Files (x86)\NSIS\Plugins\x86-unicode\"

      - name: Setup MSVC Environment
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{matrix.arch}}
          sdk: ${{env.sdk_version}}
          vsversion: 2022

      - name: Checkout Source Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Add safe git directory
        shell: bash
        run: git config --global --add safe.directory ${GITHUB_WORKSPACE}

      - name: Create Build Dir
        shell: cmd
        run: cmake -E make_directory build

      - name: CMake Configuration
        shell: cmd
        run: >
          cmake
          -S .
          -B build
          -G "Ninja"
          -DCMAKE_BUILD_TYPE="${{env.cmake_buildtype}}"
          -DCMAKE_PREFIX_PATH="${{env.prefix_path_forwardslash}}/lib/cmake"
          -DARCH="${{matrix.arch}}"
          -DENABLE_WIN32_CONSOLE=OFF
          -DPKG_CONFIG_EXECUTABLE="${{env.prefix_path_forwardslash}}/bin/pkg-config.exe"
          -DICU_ROOT="${{env.prefix_path_forwardslash}}"
          -DENABLE_GIO=OFF
          -DENABLE_AUDIOCD=OFF
          -DENABLE_MTP=OFF
          -DENABLE_GPOD=OFF
          -DENABLE_SPOTIFY=OFF

      - name: Build
        shell: cmd
        env:
          CL: "/MP"
        run: cmake --build build --config "${{env.cmake_buildtype}}" --parallel 4

      - name: Prepare Installer Assets
        shell: cmd
        working-directory: build
        run: |
          copy ${{env.prefix_path_backslash}}\bin\libssl-3*.dll
          copy ${{env.prefix_path_backslash}}\bin\libcrypto-3*.dll
          copy ${{env.prefix_path_backslash}}\bin\soup-3.0-0.dll
          copy ${{env.prefix_path_backslash}}\bin\gst-launch-1.0.exe
          copy ${{env.prefix_path_backslash}}\bin\gst-play-1.0.exe
          copy ${{env.prefix_path_backslash}}\bin\gst-discoverer-1.0.exe
          copy ${{env.prefix_path_backslash}}\bin\sqlite3.exe
          mkdir gio-modules platforms styles tls sqldrivers imageformats gstreamer-plugins nsisplugins
          copy ${{env.prefix_path_backslash}}\lib\gio\modules\*.dll .\gio-modules\
          copy ${{env.prefix_path_backslash}}\plugins\platforms\qwindows*.dll .\platforms\
          copy ${{env.prefix_path_backslash}}\plugins\styles\qmodernwindowsstyle*.dll .\styles\
          copy ${{env.prefix_path_backslash}}\plugins\tls\*.dll .\tls\
          copy ${{env.prefix_path_backslash}}\plugins\sqldrivers\qsqlite*.dll .\sqldrivers\
          copy ${{env.prefix_path_backslash}}\plugins\imageformats\*.dll .\imageformats\
          copy ${{env.prefix_path_backslash}}\lib\gstreamer-1.0\*.dll .\gstreamer-plugins\

      - name: Download Helper Scripts
        shell: bash
        working-directory: build
        run: curl -f -O -L https://raw.githubusercontent.com/strawberrymusicplayer/strawberry-mxe/master/tools/copydlldeps.sh

      - name: Bundle DLL Dependencies
        shell: bash
        working-directory: build
        run: >
          ./copydlldeps.sh
          -c -d . -F .
          -F ./platforms -F ./styles -F ./tls -F ./sqldrivers
          -F ./imageformats -F ./gio-modules -F ./gstreamer-plugins
          -R ${{env.prefix_path_unix}}/bin

      - name: Prepare License & Icons
        shell: cmd
        working-directory: build
        run: |
          copy ..\dist\windows\*.nsh .
          copy ..\dist\windows\*.ico .
          copy ..\COPYING .

      - name: Download VCRedist
        shell: bash
        working-directory: build
        run: curl -f -O -L https://aka.ms/vs/17/release/vc_redist.x64.exe

      - name: Compile Installer (NSIS)
        shell: cmd
        working-directory: build
        run: makensis strawberry.nsi

      # --- THIS IS THE CRITICAL PART WE ADDED ---
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: strawberry-windows-x64-release
          path: build/StrawberrySetup*.exe
